body {
    font-family: arial, sans-serif;
    background-color: rgb(213, 74, 74);
/* usa modelo FlexBox, conceito de caixa para posicionamento */
    display: flex;
    align-items: center; /* centralizar verticalmente */
    justify-content: center; /* centralizar horizontalmente */
    height: 100vh; /* define a altura dda tela - 100% */
}
.card {
    background-color: rgb(219, 134, 48);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 242, 0, 0.221);
    text-align: center;

button {
    background: #f00b0b; ;
    color: #ffffff;
    border: none;
    padding: 10px 15px;/* 10px é superior e inferior e 15px é esquerda e direita*/
    border-radius: 5px;/* borda */
    cursor: pointer;/* ponteiro do mouse*/
}
}
button:hover {
    background-color: rgb(247, 237, 92);
}

.image{
    border-radius: 50%;/* cantos aredondados de 50%*/
    width: 135px;/* largura da imagem*/
    height: 135px;/* altura da imagem */
    margin-bottom: 10px;/* espaçamento externo abaixo */
}